@model CallogApp.Models.Request

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RespondedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RespondedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResolvedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResolvedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Issue.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ITStaff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ITStaff.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResolvedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResolvedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentOwner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentOwner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isCancel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isCancel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReasonForHigh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReasonForHigh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
